{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "no-console": "off",
    "require-jsdoc": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
