on:
  push:
    branches:
      - master
  schedule:
    - cron: '7 7 * * *'
name: deploy
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - run: npm ci --production
    - run: npm run build
    - run: ./check.sh
    - uses: JamesIves/github-pages-deploy-action@2.0.1
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: out
